@page "/SubscribersData/{counter:int}"
@using NWC_Bills.Models;
@using NWC_Bills.Services;

@inject IUnitOfWork _unitOfWork
@inject NavigationManager Navigation

<PageTitle>Subscribers Data</PageTitle>

<div>

    @if (subscribersFiles is null)
    {
        <br />
        <div><em>!.......جاري تحميل بيانات المشتركين</em></div>
    }
    else
    {
        <table class="table table-striped table-bordered table-hover" style="font-size:12px">
            <thead>
                <tr>
                    <th>عدد الاشتراكات</th>
                    <th>رقم الجوال</th>
                    <th>الحي</th>
                    <th>المدينة</th>
                    <th>الإسم</th>
                    <th>رقم الهوية</th>
                    <th>م</th>
                </tr>
            </thead>
            <tbody>
                @if (counter < subscribersFiles.Count)
                {
                    @for (int i = start; i < Math.Min(subscribersFiles.Count, start + limit); i++)
                    {
                        <tr>
                            <td>@subscribersFiles[i].NwcSubscriptionFiles.Count</td>
                            <td>@subscribersFiles[i].NwcSubscriberFileMobile</td>
                            <td>@subscribersFiles[i].NwcSubscriberFileArea</td>
                            <td>@subscribersFiles[i].NwcSubscriberFileCity</td>
                            <td>@subscribersFiles[i].NwcSubscriberFileName</td>
                            <td>@subscribersFiles[i].NwcSubscriberFileId</td>
                            <td>@(i + 1)</td>
                        </tr>
                    }
                }
                
            </tbody>
        </table>
        @if (counter + limit< subscribersFiles.Count)
        {
            <button type="reset" class="btn btn-primary" style="float:right" @onclick="@ShowNextData">
                @Math.Min(subscribersFiles.Count, counter + limit + limit)
                عرض من
                @(counter + limit + 1)
                إلى
            </button>
        }
        @if(counter > 1)
        {
            <button type="reset" class="btn btn-secondary" style="float:left" @onclick="@ShowDefault">
                الرجوع للبداية
            </button>
            <button type="reset" class="btn btn-secondary" style="float:right" @onclick="@ShowPrevData">
                الرجوع خطوة
            </button>
        }
    }
</div>


@code {
    [Parameter]
    public int counter { get; set; } = 0;
    [Parameter]
    public IList<NwcSubscriberFile>? subscribersFiles { get; set; }
    int start;
    int limit = 50;
    protected override void OnInitialized()
    {
        subscribersFiles = _unitOfWork.SubscribersData.GetAll(includeProperties: "NwcSubscriptionFiles");
        subscribersFiles = subscribersFiles.OrderBy(x => x.NwcSubscriberFileName).ToList();
        start = counter;
    }
    protected override void OnParametersSet()
    {
        start = counter;
    }
    private void ShowNextData()
    {
        counter = counter + limit;
        Navigation.NavigateTo($"SubscribersData/{counter}");
    }
    private void ShowPrevData()
    {
        if (counter >= subscribersFiles.Count && subscribersFiles.Count % limit != 0)
            counter = (subscribersFiles.Count / limit) * limit + 1;
        else
            counter = counter - limit;
        if (counter < 0)
            counter = 0;
        Navigation.NavigateTo($"SubscribersData/{counter}");
    }
    private void ShowDefault()
    {
        Navigation.NavigateTo($"SubscribersData/{0}");
    }
}