@page "/SubscriptionData/{counter:int}"
@using NWC_Bills.Models;
@using NWC_Bills.Services;

@inject IUnitOfWork _unitOfWork
@inject NavigationManager Navigation

<PageTitle>Subscription Data</PageTitle>

@*<div  style="float:right">
    <div class="link-to-estate-change" >
        <NavLink class="nav-link" href="UpdateEstateTypes" style="font-weight:bolder">
                تحديث بيانات عقار
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-gear-fill" viewBox="0 0 16 16">
                <path d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z" />
            </svg>
        </NavLink>
    </div>
</div>
<br />*@
<div>

    @if (subscriptionsFiles is null)
    {
        <br />
        <div><em>!.......جاري تحميل بيانات الاشتراكات</em></div>
    }
    else
    {
        <table class="table table-striped table-bordered table-hover" style="font-size:12px">
            <thead>
                <tr>
                    <th>ملاحظات</th>
                    <th>أخر قراءة للعداد</th>
                    <th>هل يوجد صرف صحي؟</th>
                    <th>عدد الوحدات</th>
                    <th>نوع العقار</th>
                    <th>رقم الجوال</th>
                    <th>اسم المشترك</th>
                    <th>رقم المشترك</th>
                    <th>رقم الاشتراك</th>
                    <th>م</th>
                </tr>
            </thead>
            <tbody>
                @if (counter < subscriptionsFiles.Count)
                {
                    @for (int i = start; i < Math.Min(subscriptionsFiles.Count, start + limit); i++)
                    {
                        <tr>
                            <td>@subscriptionsFiles[i].NwcSubscriptionFileReasons</td>
                            <td>@subscriptionsFiles[i].NwcSubscriptionFileLastReadingMeter</td>
                            @if (subscriptionsFiles[i].NwcSubscriptionFileIsThereSanitation)
                            {
                                <td>نعم</td>
                            }
                            else
                            {
                                <td>لا</td>
                            }
                            <td>@subscriptionsFiles[i].NwcSubscriptionFileUnitNo</td>
                            <td>@(estateTypes.First(x => 
                                    x.NwcRrealEstateTypesCode == subscriptionsFiles[i]
                                    .NwcSubscriptionFileRrealEstateTypesCode)
                                    .NwcRrealEstateTypesName)
                            </td>
                            <td>@subscriptionsFiles[i].SubscriberFile.NwcSubscriberFileMobile</td>
                            <td>@subscriptionsFiles[i].SubscriberFile.NwcSubscriberFileName</td>
                            <td>@subscriptionsFiles[i].SubscriberFile.NwcSubscriberFileId</td>
                            <td>@subscriptionsFiles[i].NwcSubscriptionFileNo</td>
                            <td>@(i + 1)</td>
                        </tr>
                    }
                }
                
            </tbody>
        </table>
        @if (counter + limit < subscriptionsFiles.Count)
        {
            <button type="reset" class="btn btn-primary" style="float:right" @onclick="@ShowNextData">
                @Math.Min(subscriptionsFiles.Count, counter + limit + limit)
                عرض من
                @(counter + limit + 1)
                إلى
            </button>
        }
        @if(counter > 1)
        {
            <button type="reset" class="btn btn-secondary" style="float:left" @onclick="@ShowDefault">
                الرجوع للبداية
            </button>
            <button type="reset" class="btn btn-secondary" style="float:right" @onclick="@ShowPrevData">
                الرجوع خطوة
            </button>
        }
    }
</div>


@code {
    [Parameter]
    public int counter { get; set; } = 0;
    [Parameter]
    public IList<NwcSubscriptionFile>? subscriptionsFiles { get; set; }
    IList<NwcRrealEstateType> estateTypes;
    int start;
    int limit = 50;
    protected override void OnInitialized()
    {
        subscriptionsFiles =   _unitOfWork.SubscriptionData.GetAll(includeProperties: "SubscriberFile");
        subscriptionsFiles = subscriptionsFiles.OrderBy(x => x.NwcSubscriptionFileNo, new CustomComparer()).ToList();
        estateTypes = _unitOfWork.EstateType.GetAll();
        start = counter;
    }
    //Table Management
    protected override void OnParametersSet()
    {
        start = counter;
    }
    private void ShowNextData()
    {
        counter = counter + limit;
        Navigation.NavigateTo($"SubscriptionData/{counter}");
    }
    private void ShowPrevData()
    {
        if (counter >= subscriptionsFiles.Count && subscriptionsFiles.Count % limit != 0)
            counter = (subscriptionsFiles.Count / limit) * limit + 1;
        else
            counter = counter - limit;
        if (counter < 0)
            counter = 0;
        Navigation.NavigateTo($"SubscriptionData/{counter}");
    }
    private void ShowDefault()
    {
        Navigation.NavigateTo($"SubscriptionData/{0}");
    }

}
